@model JobHuntingApp.ViewModels.ResumesViewModel

@{
    ViewData["Title"] = "Upload Resume";
}

<h2>Upload Resume</h2>

<form method="post" enctype="multipart/form-data" action="/Resumes/Create">
    <div>
        <p>Resume Title</p>
        <input type="text" name="resumeTitle" />
        <p>Upload a PDF file:</p>
        <input type="file" name="files" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
