@model JobHuntingApp.ViewModels.AddJobOpeningViewModel

@{
    ViewData["Title"] = "Create";
}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=bsb5d78ljlux801o8brxchv9rap7jinay2rp3fdmxhyqriq1"></script>
<script src="~/js/tinyMCE-Config.js"></script>
<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if ((((List<Company>)ViewData["companyList"]) != null && ((List<Company>)ViewData["companyList"]).Count() > 0))
        {
            <div class="form-group">
                <label asp-for="CompanyID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="CompanyID" asp-items="@(new SelectList((List<JobHuntingApp.Models.Company>)ViewData["companyList"], "CompanyID", "CompanyName"))" class="form-control">
                        <option selected="selected" value="0">Please Select</option>
                    </select>
                    <span asp-validation-for="CompanyID" class="text-danger"></span>
                </div>
            </div>
        }
        

        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyUrl" class="form-control" />
                <span asp-validation-for="CompanyUrl" class="text-danger"></span>
            </div>
        </div>
        <h4>JobOpening</h4>
        <hr />
        <div class="form-group">
            <label asp-for="JobOpeningTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobOpeningTitle" class="form-control" />
                <span asp-validation-for="JobOpeningTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobOpeningSource" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobOpeningSource" class="form-control" />
                <span asp-validation-for="JobOpeningSource" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobOpeningUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JobOpeningUrl" class="form-control" />
                <span asp-validation-for="JobOpeningUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobOpeningDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="JobOpeningDescription" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="JobOpeningDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JobOpeningNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="JobOpeningNotes" class="form-control"  rows="10" cols="50"> </textarea>
                <span asp-validation-for="JobOpeningNotes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
